* {
    margin: 0%;
    padding: 0%;
}
header, footer {
    background-color: rgb(1, 95, 1);
    color: #ffffff;
    font-weight: 600;
}

footer {
    text-align: center;
    bottom: 0px;
}

header {
    text-align: right;
}

#topSection {
    text-align: center;
    font-weight: 800;
    color: brown;
    background-color: beige;
}

#bottomSection {
    text-align: center;
    font-weight: 600;
    color: brown;
    background-color: rgb(128, 128, 114);
}

#addInformation {
    margin: auto;
    font-weight: 400;
    line-height: 0.8em;
}

#buttonSend {
    color: white;
    background-color: brown;
}

a {
    text-decoration: none;
    color: white;
}

form {
    margin: 1% 35% 1% 35%;
    padding: .5em;
    border: 3px solid rgb(168, 136, 136);
    border-radius: 20px;
}